*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

*::selection{
    background-color: black;
    color: #F8C327;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Assets/img01.jpg);
    background-size: cover;
    overflow: hidden;
}

.nav{
    object-position: relative;
    width: 100vw;
    height: 9vh;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

.nav .left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
    font-size: 1.2vw;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.95);
}

.nav .menu{
    display: none;
    position: absolute;
}

.nav .right{
    position: absolute;
    right: 5vw;
}

.nav button{
    padding: 0.5vw 3.2vw;
    border-radius: 50px;
    font-size: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.95);
    color: rgba(255, 255, 255, 0.95);
    background-color: transparent;
    cursor: pointer;
}

.nav p{
    cursor: pointer;

}

.nav p i{
    position: absolute;
    padding-top: 0.2vw;
    padding-left: 0.5vw;
}

/* .dropdown{
    position: absolute;
    width: 9vw;
    height: 12vw;
    right: -2.5vw;
    top: 0.75vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.3vw;
    padding: 0.5vw 0.8vw;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0 20px 20px;
    backdrop-filter: blur(5px);
}

.nav .dropdown p{
    cursor: pointer;
} */

.content{
    height: calc(100vh - 9vh);
    width: 100vw;
    height: auto;
    position: relative;
}

.content .top{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topleft{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 9vw;
    text-transform: uppercase;
    color: white;
}

.topleft p{
    font-size: 5vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -3px;
}

.topleft button{
    padding: 0.7vw 3.2vw;
    border-radius: 50px;
    font-size: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.95);
    color: rgba(255, 255, 255, 0.95);
    background-color: transparent;
    cursor: pointer;
    margin-top: 1.5vw;
    text-transform: uppercase;
    font-weight: 100;
}

.topright{
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.2vw;
    gap: 1.2vw;
    color: white;
}

.top .topright i{
    cursor: pointer;
}

.content .bottom{
    width: 100%;
    height: 45%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vw;
}

.bottomleft{
    position: relative;
    width: 50vw;
    padding-left: 10vw;
}

.bottomright{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    padding:0 6.5vw;
    width: 50vw;
}

.bottom .box{
    height: 11.5vw;
    width: 15vw;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3.5vw 1.5vw;
    color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}

.box h6{
    font-size: 2.2vw;
    font-weight: 500;
}

@media (max-width: 1280px){
    .nav p{
        font-size: 1.5vw;
    }

    .nav .left{
        width: 42vw;
    }

    .nav .right button{
        font-size: 1.25vw;
    }

    .content .top p{
        font-size: 7vw;
    }

    .content .top button{
        font-size: 1.5vw;
        padding: 1vw 5vw;
    }

    .content i{
        font-size: 3vw;
    }

    .content .bottom .box{
        font-size: 1.25vw;
    }
}

@media (max-width: 500px){
    .main::-webkit-scrollbar{
        width: 1vh;
    }

    .main::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 50px;
        padding: 5vw 0;
    }

    .main{
        overflow-x: hidden;
        overflow-y: auto;
    }

    .nav .left p{
        display: none;
    }

    .nav .right button{
        font-size: 4vw;
        padding: 1.5vw 8vw;
    }

    .nav .menu{
        display: block;
        font-size: 10vw;
        left: 5vw;
        cursor: pointer;
    }

    .content{
        top: 15vw;
    }

    .content .top{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content .top .topleft{
        margin-left: 0;
        width: 100vw;
        padding: 0 3.5vw;
        align-items: center;
    }

    .content .top .topleft p{
        font-size: 15vw;
        line-height: 1.2;
    }

    .content .top .topleft button{
        font-size: 5vw;
        padding: 3vw 12vw;
        margin-top: 10vw;
    }

    .content .top .topright{
        flex-direction: row;
        width: 100vw;
        height: 35vw;
        align-items: center;
        justify-content: center;
        gap: 5vw;
    }

    .content .top i{
        font-size: 10vw;
        padding: 3vw 0;
    }

    .content .bottom{
        flex-direction: column;
    }

    .content .bottomleft{
        padding: 0;
        width: 70vw;
        height: 8vw;

    }

    .content .bottomright{
        flex-direction: column;
        width: 100vw;
        height: 100%;
        gap: 25px;
        padding: 6vw 0vw;
    }

    .content .box{
        width: 50vw;
        height: 50vw;
        padding: 17vw 7vw;
    }

    .box h6{
        font-size: 9vw;
    }

    .box p{
        font-size: 5vw;
    }
}